footer {
	clear: both;
}


.pageFooter {
	clear: both;
	background: $black;
	
	li {
		color: $textGrey;
		list-style: none;
	}

	ul.menu {
		padding: 0;
		background: none;

		a,p {
			color: $textGrey;
			font-weight: inherit;
			font-family: $navText;
			font-size: 1.3rem;
		}

		p {
			color: $link;
		}
	}
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-transform: uppercase;
	}

	h5 {
	   	color: $textGrey;
	    padding: 10px;
	    font-weight: 700;
	    font-family: "Open Sans",sans-serif;
	    
	    font-weight: normal;
	    font-size: 1.3rem;
	}
}

