$bodyText: 'Lora', serif;
$headerText: 'Lora', serif;
$navText: 'Open Sans', sans-serif;

$black: #202020;
$textGrey: #939393;
$link: #EDB455;
$background: #F6F6F6;

.borderLinesStyle {
	border: 1px solid $textGrey;
	position: absolute;
	border-radius: 5px;
}